.sidebar {
  height: 100vh;
  width: 230px;
  background-color: var(--sidebar);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-logo {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.sidebar-logo img {
  height: 35px;
  margin: 10px;
}

.sidebar-logo h3 {
  font-size: 23px;
  font-family: "Dungguun";
  color: var(--navy);
  /* margin-bottom: 30px; */
}

.sidebar-menu {
  margin-top: 40px;
  flex: 1;
}

.sidebar-menu button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin-bottom: 10px;
  background-color: var(--sidebar);
  border-radius: 20px;
  padding: 10px 20px;
  width: 170px;
  height: 45px;
}

.button-icon {
  font-size: 20px;
  margin-right: 9px;
  color: var(--darkgrey);
}

.button-title {
  font-size: 18px;
  font-family: "Freesentation";
  color: var(--darkgrey);
}

/* 버튼 활성화 */
.sidebar-menu button.active {
  background-color: var(--navy);
  border-radius: 15px;
  /* padding: 10px 30px; */
  width: 170px;
  height: 45px;
}

.sidebar-menu button.active .button-icon {
  font-weight: bolder;
  color: var(--white);
}

.sidebar-menu button.active .button-title {
  /* font-weight: bold; */
  color: var(--white);
}

.logout {
  margin-top: auto;
  margin-bottom: 30px;
}

.logout button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin-bottom: 10px;
  background-color: var(--sidebar);
  border-radius: 20px;
  padding: 10px 20px;
  width: 170px;
  height: 45px;
}

.logout-icon {
  font-size: 19px;
  margin-right: 9px;
  color: var(--darkgrey);
}

.logout-title {
  font-size: 17px;
  font-family: "Freesentation";
  color: var(--darkgrey);
}
